.snake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 50px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  &__grid-cell {
    width: 60px;
    height: 60px;
    background-color: rgba(219, 212, 212, 0.94);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emoji {
    font-size: 50px;
  }

  &__score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }

  &__reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
}
