body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
    gap: 50px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(4, 70px);
    gap: 20px;
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 3px solid;
    border-radius: 12px;
    font-size: 35px;
    background-color: lightcyan;
  }
  
  .card.isFinish {
    border: none;
    background-color: white !important;
  }
  
  .button {
    width: 100px;
  }
  