.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;

    .debounce {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}