body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    margin-top: 20px;
    height: 100px;
    width: 75%;
  }
  
  .hills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 50px;
    gap: 100px;
  }
  
  .grid {
    position: relative;
    width: 120px;
    height: 100px;
  }
  
  .hill-img {
    position: relative;
    width: 100%;
    z-index: 2; /* hill stays in front */
  }
  
  .mole-img {
    position: absolute;
    bottom: 68px; /* adjust to control how much mole is visible */
    left: 50%;
    transform: translate(-50%, -10%);
    width: 80%; /* scale as needed */
    z-index: 1; /* mole goes behind hill */
    transition: bottom 0.3s ease-in-out; /* smooth pop-up animation */
  }
  
  .mole-img.pop {
    bottom: 20px;
  }
  
  .header-btn {
    display: flex;
    justify-content: center;
  }
  
  .header-score {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: space-between;
  }
  